*, *::before, *::after {
  box-sizing: border-box;
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: $base-size $base-size;
  background: $color-light;
  border-radius: $radius;
}

.services {
  padding-bottom: 100px;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;

  .service-order, .service-table, .service-open {
    height: 120px;
    border-radius: $radius;
    margin: 3px;

    .service-name, p {
      font-family: $font-header;
      text-align: center;
      color: $color-light;
      text-transform: uppercase;
    }

    h2 {
      margin-top: 40px;
    }

    .hour {
      margin-top: 20px;
    }

    p {
      font-family: $font-text;
    }

    a {
      text-decoration: none;
    }
  }

  .service-order h2:hover, .service-table h2:hover {
    transform: translate(0, -15px);
    transition: $transition-slow;
  }

  .service-order{
    background-image: url(/images/home/pizza-1.jpg);
    background-size: cover;
    background-position: center center;
    flex: 45%;
  }

  .service-table {
    background-image: url(/images/home/pizza-2.jpg);
    background-size: cover;
    background-position: center center;
    flex: 45%;
  }

  .service-open {
    background-color: $color-main;
    background-size: cover;
    background-position: center center;
    flex: 100%;
  }
}

.main-carousel {
  margin-bottom: 100px;
  margin-left: 5px;
  margin-right: 5px;

  .carousel-cell {
    display: flex;
    width: 100%;
    height: 220px;

    .carousel-image img {
      width: 193px;
      height: 193px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 16px;
    }

    .carousel-text p:nth-child(3) {
      font-style: italic;
    }
  }
}

.photo-set {
  display: flex;
  flex-wrap: wrap;

  .insta-box {
    flex: 33%;
    margin: 0;
    padding: 3px;
    //border: 1px solid;
    position: relative;

    img {
      width: 193px;
      height: 193px;
      object-fit: cover;
      border-radius: 5px;
      top: 50%;
      left: 50%;
    }

    .ico {
      position: absolute;
      margin: 0 auto;
      top: 40%;
      left: 40%;
    }

    &:hover {
      opacity: 0.85;
      transition: $transition;
    }
  }
}

.insta-gallery p {
  margin-left: 5px;
}

.ico npmra {
  text-decoration: none;

  i {
    font-size: 24px;
    color: $color-dark;
    opacity: 0;
    margin-right: 4px;
  }

  &:hover {
    i {
      color: $color-main;
      transition: $transition;
      opacity: 1;
    }
  }
}
